@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<ui5-button Design="Design.Default" @onclick="IncrementCount">Click me</ui5-button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
